body{
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}
img{
  max-width: 18rem;
  border-top-left-radius: 5%;
}
h2{
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 1.8rem;
}
h6{
  letter-spacing: 0.3rem;
  font-size: 0.7rem;
  font-weight: 700;
}
span{
  padding: 5% 5%;
}
.container-fluid{
  justify-content: center;
  display: flex;
}
.row{
  padding: 4% 15%;
}
.col-6{
  height: 27rem;
  width: 18rem;
}
.product-desc{
  background-color: #fff;
  padding: 1rem 2rem;
  margin-left: 0.75rem;
  border-bottom-right-radius: 5%;
}
.new{
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2rem;
}
.d-grid{
  padding-top: 15%;
}
.btn{
  background-color: hsl(158, 36%, 37%);
  color: #fff;
  padding: 5% 5%;
  font-size: 0.8rem;
  font-weight: 700;
}
.btn:hover{
  background-color: hsl(158, 25%, 25%);
  color: #fff;
}
.cart{
  width: 0.8rem;
  margin-right: 0.5rem;
}
/* attribution */
.attribution{
  text-align: center;
  padding-top: 5%;
}
